<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
    <a class="navbar-brand" href="#">Angular Bootstrap Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact-us">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Log In</a>
            </li>


        </ul>
    </div>
</nav> -->

<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">ATAKA Organix</a>

            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>

            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a routerLink="/home" class="nav-item nav-link active">Home</a></li>
                    <li><a routerLink="/products" class="nav-item nav-link">Products</a></li>
                    <li><a routerLink="/contact-us" class="nav-item nav-link">Contact Us</a></li>
                    <li><a routerLink="/contact-us" class="nav-item nav-link"><img
                                src="../assests/iconfinder_cart_1055098.png" alt="Checkout"></a></li>

                    <li class="dropdown">
                        <a href="#" class="nav-item nav-link" data-toggle="dropdown"><img src="../assests/user_icon.png"
                                alt="User"></a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Log In</a>
                            <a href="#" class="dropdown-item">Register</a>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <br>
    </div>