<div class="container-fluid">
    <!-- 
    <div class="container-fluid">
        <div class="row parallax "> -->
    <!-- <div class="parallax"> -->
    <header class=" header-area overlay">
        <div class="container-fluid banner">
            <div class="container-fluid parallax">
                <div>
                    <h1>Welcome to ATAKA Organix </h1>
                </div>
                <div>
                    <p>Spreading the true flavors</p>
                </div>
                <div><button class="button button-primary" routerLink="/products">Shop Now</button>
                </div>
            </div>
        </div>
    </header>
    <div class="story">
        <h2>Our Story</h2>
        <p>
            In the early 2010s two men shared a vision... Provide the world with the
            best damn jams and jellies ever seen.
        </p>

        <p>
            Hours... Days... Months passed the blood sweat and tears finally paid
            off. The most fantastic huckleberry jam you could ever imagine!
        </p>

        <p>
            Shortly after demoing the product to a few of their closest, the two
            decided it was time to go mainstream.
        </p>

        <p>
            Loading up their wagon in midland and took off for the big city. The
            cart was a hit, people crowded outside the Packard Place in uptown all
            hours of the day and night to get some of the delicious jams.
        </p>

        <p>
            Several years and several flavors later, disaster struck… Covid-19
            forced their small jam wagon to close. Down on their luck Maher and Hall
            decided to look for new resources.
        </p>

        <p>
            That's when they discovered Fry and Gardner Tech Incorporated: Industry
            & Financial introspective. Together the two companies set off to design
            a new product to bring jams and jellies into the digital age.
        </p>
    </div>

    <!-- Best Sellers-->
    <section>
        <h2 class="font-weight-bold mb-2">BEST SELLERS</h2>

        <div class="row pb-5 mb-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/amber-engle-9P4sDPBry0M-unsplash.jpg"
                            alt="Best Seller Red Onions" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Red Onions</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/cherries.jpg" alt="Best Seller Cherries"
                            class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Cherries</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/gabriel-gurrola-fcgPRZmTM5w-unsplash.jpg"
                            alt="Best Seller Carrots" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Carrots</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/joanna-kosinska-4qujjbj3srs-unsplash.jpg"
                            alt="Best Seller Pears" class=" img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Blueberries </a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of Best sellers-->
    >

    <!-- Team -->
    <section class="our-webcoderskull padding-lg">
        <div class="container ">
            <div class=" row heading heading-icon">
                <h2>Our Team</h2>
            </div>
            <ul class="row col-12">
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AabhaKhandwala.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Aabha Khandwala</a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/TempesttS(2).jpg" class="img-responsive" alt="Tempestt">
                        </figure>
                        <h3><a href="#">Tempestt Swinson </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AngeloGrant.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Angelo Grant </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AnupamaAvula.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Anupama Avula </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/KengMoua.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Keng Moua</a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Team -->

</div>