<div class="container-fluid">
    <!-- 
    <div class="container-fluid">
        <div class="row parallax "> -->
    <!-- <div class="parallax"> -->
    <header class=" header-area overlay">
        <div class="container-fluid banner">
            <div class="container-fluid parallax">
                <div>
                    <h1>Welcome to ATAKA Organix </h1>
                </div>
                <div>
                    <p>Spreading the true flavors</p>
                </div>
                <div><button class="button button-primary" routerLink="/products">Shop Now</button>
                </div>
            </div>
        </div>
    </header>
    <!--About us-->
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title">About Us</h1>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne"><i
                                        class="fa fa-chevron-circle-down"></i> What is Bootstrap Framework?</a>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
                                tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus.
                                Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum
                                vestibulum.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo"><i
                                        class="fa fa-chevron-circle-down"></i> How to Create Responsive Website with
                                    Bootstrap?</a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree"><i
                                        class="fa fa-chevron-circle-down"></i> Does Bootstrap Framework Provide
                                    Cross-browser Support?</a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem
                                tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper
                                malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus.
                                Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum
                                vestibulum.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour"><i
                                        class="fa fa-chevron-circle-down"></i> Can I Use Bootstrap for Mobile App
                                    Development?</a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                                terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of About us-->

    <!-- Best Sellers-->
    <section>
        <h1 class="page-title">BEST SELLERS</h1>

        <div class="row pb-5 mb-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/amber-engle-9P4sDPBry0M-unsplash.jpg"
                            alt="Best Seller Red Onions" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="/products4" class="text-dark">Red Onions</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/cherries.jpg" alt="Best Seller Cherries"
                            class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="/products" class="text-dark">Cherries</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/gabriel-gurrola-fcgPRZmTM5w-unsplash.jpg"
                            alt="Best Seller Carrots" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="/products" class="text-dark">Carrots</a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4"><img src="assets/joanna-kosinska-4qujjbj3srs-unsplash.jpg"
                            alt="Best Seller Pears" class=" img-fluid d-block mx-auto mb-3">
                        <h5> <a href="/products" class="text-dark">Blueberries </a></h5>
                        <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.
                        </p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                            <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End of Best sellers-->
    >

    <!-- Team -->
    <section class="our-webcoderskull padding-lg">
        <div class="container ">
            <div class=" row heading heading-icon">
                <h2>Our Team</h2>
            </div>
            <ul class="row col-12">
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AabhaKhandwala.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Aabha Khandwala</a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/TempesttS(2).jpg" class="img-responsive" alt="Tempestt">
                        </figure>
                        <h3><a href="#">Tempestt Swinson </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AngeloGrant.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Angelo Grant </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/AnupamaAvula.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Anupama Avula </a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
                <li class="col-xs-5">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="assets/KengMoua.jpg" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Keng Moua</a></h3>
                        <p>Freelance Web Developer</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Team -->

</div>