<div class="container-fluid">
    <!-- 
    <div class="container-fluid">
        <div class="row parallax "> -->
    <!-- <div class="parallax"> -->
    <header class=" header-area overlay">
        <div class="container-fluid banner">
            <div class="container-fluid parallax">
                <div>
                    <h1>Welcome to ATAKA Organix </h1>
                </div>
                <div>
                    <p>Spreading the true flavors</p>
                </div>
                <div><button class="button button-primary" routerLink="/products">Shop Now</button>
                </div>
            </div>
        </div>
    </header>
    <div class="story">
        <h2>Our Story</h2>
        <p>
            In the early 2010s two men shared a vision... Provide the world with the
            best damn jams and jellies ever seen.
        </p>

        <p>
            Hours... Days... Months passed the blood sweat and tears finally paid
            off. The most fantastic huckleberry jam you could ever imagine!
        </p>

        <p>
            Shortly after demoing the product to a few of their closest, the two
            decided it was time to go mainstream.
        </p>

        <p>
            Loading up their wagon in midland and took off for the big city. The
            cart was a hit, people crowded outside the Packard Place in uptown all
            hours of the day and night to get some of the delicious jams.
        </p>

        <p>
            Several years and several flavors later, disaster struck… Covid-19
            forced their small jam wagon to close. Down on their luck Maher and Hall
            decided to look for new resources.
        </p>

        <p>
            That's when they discovered Fry and Gardner Tech Incorporated: Industry
            & Financial introspective. Together the two companies set off to design
            a new product to bring jams and jellies into the digital age.
        </p>
    </div>

    <!-- Team -->
    <section class="our-webcoderskull padding-lg">
        <div class="container">
            <div class="row heading heading-icon">
                <h2>Our Team</h2>
            </div>
            <ul class="row">
                <li class="col-12 col-md-4 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="#">Kappua </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="http://www.webcoderskull.com/">Manish </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="http://www.webcoderskull.com/">Atul </a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-3">
                    <div class="cnt-block equal-hight" style="height: 349px;">
                        <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt="">
                        </figure>
                        <h3><a href="http://www.webcoderskull.com/">Web coder skull</a></h3>
                        <p>Freelance Web Developer</p>
                        <ul class="follow-us clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Team -->

</div>