.pb-modalreglog-container {
    margin-top: 100px;
}

.pb-modalreglog-legend {
    text-align: center;
}

.pb-modalreglog-input-group {
    margin: auto;
}

.pb-modalreglog-submit {
    margin-left: 5px;
}

.pb-modalreglog-form-reg {
    text-align: center;
}



#pb-modalreglog-progressbar {
    border-radius: 2px;
}